@page {
    size: A4;
}
body {
    font-family: "Noto Sans", Arial, sans-serif;
    font-size: 11px;
}
#headers {
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px #ccc;
}
#content.text-plain {
    white-space: pre-wrap;
}
th {
    padding-right: 1em;
}
.moz-signature img {
    width: 100px;
    padding-right: 25px;
}
.moz-signature address {
    font-size: 9px;
}
